/* RULES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
}

footer {
  height: 90px;
}

main {
  height: calc(100% - 90px);
}

/* /RULES */

/* utilities */

.only-tablet {
  display: none;
}
.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

span {
  display: inline-block;
}

/* /utilities */

/* Header */

header {
  max-width: 50px;
  position: fixed;
  height: calc(100% - 90px);
  font-weight: 700;
}

header nav {
  background-color: black;
  flex-direction: column;
  height: 100%;
}

header nav img {
  padding: 5px 5px 10px;
}

nav span {
  color: white;
}

.home-container {
  justify-content: center;
  padding-top: 0;
}

.index {
  flex-direction: column;
  justify-content: space-between;
  height: 120px;
  color: #a3a3a3;
}

.logo-small {
  width: 50px;
}

.user {
  max-width: 200px;
  margin-top: auto;
  padding-left: 10px;
  flex-direction: column;
  color: white;
}

.user .top,
.user hr {
  opacity: 0.6;
}

.user .top {
  padding: 10px;
}

.user .bottom {
  padding: 10px 0;
}

.bottom {
  align-items: center;
  justify-content: flex-start;
}

.user span {
  padding-left: 10px;
}

.user .bottom span {
  font-size: 1.25rem;
}

.bottom img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  background-color: #808080;
  border-radius: 50%;
}
/* /Header */
/* Main */
main {
  background-color: #141922;
}

.upgrade {
  height: 90px;
  justify-content: flex-end;
  align-items: center;
  background-color: black;
  opacity: 0.5;
  position: fixed;
  z-index: 9;
  top: 0;
  right: 0;
  left: 0;
}

#upgrade {
  color: white;
  font-weight: 700;
  padding: 15px 40px;
  border: 2px solid white;
  border-radius: 25px;
  margin-right: 5px;
  opacity: 1;
}

.megacontainer {
  padding-top: 110px;
}

.navline {
  width: calc((100% -30px) / 4);
  color: #696b70;
  font-weight: 700;
}

.navline ul {
  justify-content: center;
  gap: 10px;
}

/* /main */
