/* RULES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

/* /RULES */

/* utilities */

.only-tablet {
  display: none;
}
.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

span {
  display: inline-block;
}

/* /utilities */

/* Header */

header {
  position: fixed;
  height: 100%;
  font-weight: 700;
}

header nav {
  max-width: 50px;
  background-color: black;
  flex-direction: column;
  height: 100%;
}

header nav img {
  padding: 5px 5px 10px;
}

nav span {
  color: white;
}

.home-container {
  justify-content: center;
  padding-top: 0;
  opacity: 0.5;
}

.index {
  flex-direction: column;
  justify-content: space-between;
  height: 120px;
}

.logo-small {
  width: 50px;
}
/* /Header */
