@media screen and (min-width: 576px) {
  .only-tablet {
    display: block;
  }
  /* Header */
  main {
    padding-left: 230px;
  }

  .logo {
    padding: 20px;
  }

  header nav .logo-small {
    display: none;
  }

  header nav {
    min-width: 230px;
  }

  .upgrade {
    left: 230px;
  }

  .home-container {
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0;
    color: #a3a3a3;
  }

  .home-container div:first-of-type img:first-of-type {
    border-left: 5px solid #adff2f;
    opacity: 1;
  }

  .playlist h3 {
    color: white;
  }

  .playlist {
    padding-left: 20px;
  }

  .scroll {
    max-height: 400px;
    overflow: auto;
  }

  .playlistName,
  .playlist {
    line-height: 50px;
  }

  .playlist span,
  .playlistName {
    color: #a3a3a3;
    padding-left: 10px;
  }

  .square {
    width: 50px;
    background: #a3a3a3;
    justify-content: center;
    font-size: 40px;
  }

  .playlist div {
    align-items: center;
  }
  /* /Header */
  /* Main */
  .grid .box {
    max-width: calc(100 / 2);
  }
  /* /main */
  /* Footer */
  .icons {
    flex-direction: row;
  }
  /* /footer */
}
